<div class="container">
    <!-- <div class="list-group">
		<a href="/post" class="list-group-item" ng-repeat="post in posts" ng-class="{active:hover}"
		ng-mouseenter="hover = true"
		ng-mouseleave="hover = false" >
		<span>{{post.title}}</span></a>
	</div> -->
	<button class="btn btn-success pull-right" ng-click="newPost()"><%= __('Post_issue') %></button>
	<table class="table table-hover">
		<thead>
			<tr>
				<th style="min-width:150px"><%= __('Comments_count') %></th>
				<th style="min-width:150px"><%= __('Issue_title') %></th>
				<th style="min-width:150px"><%= __('Author') %></th>
				<th style="min-width:150px"><%= __('Issue_time') %></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat = "post in posts" ng-click="select(post.issue_id)">
				<td id="comment" ng-bind="post.Comments.length"></td>
				<td id="title" ng-bind="post.title"></td>
				<td id="author" ng-bind="post.Member.name"></td>
				<td id="createdAt" ng-bind="time(post.createdAt)"></td>
			</tr>
		</tbody>
	</table>
	
</div>
<script>
	$('.table > tr').click(function() {
    console.log("hi");
});
</script>