<!doctype html>
<html lang="en" ng-app="myApp">
    <head>

        <meta charset="utf-8">
        <title>校友系友討論區</title>
        <base href="/">
        
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="css/semantic.min.css">  
        <link rel="stylesheet" href="css/app.css"/>
        <!-- include the core styles -->
        <link rel="stylesheet" href="../js/alertify.js-0.3.11/themes/alertify.core.css" />
        <!-- include a theme, can be included into the core instead of 2 separate files -->
        <link rel="stylesheet" href="../js/alertify.js-0.3.11/themes/alertify.default.css" />
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script>
        var isLogin = <%- isLogin ? 'true' : 'false'%>;

        if(isLogin){
            var userAccount = "<%- User.account %>";
            var userId = "<%- User.member_id %>";
            var userName = "<%- User.name %>";
            var userSchool = "<%- User.school %>";
            var userGrade = "<%- User.grade %>";
            var userDepartment = "<%- User.department %>";
            var userGender = "<%- User.gender %>";
            var userPhoto = "<%- User.photo %>";
            var notifications = "<%- Notifications %>"
        }
        console.log(notifications)
        console.log(isLogin)
        $(document).ready(function(){
            $('.dropdown').dropdown({ on: 'hover' });
        });
        </script>
    </head>
    <body ng-controller="AppCtrl">

    <div class="ui menu">
      <a class="item" href="/">
        <i class="home icon"></i> <%= __('Forum') %>
      </a>

      <div class="right menu">

        <div ng-show="{{$root.isLogin}}" class="ui simple dropdown item">
          {{searchFieldText}} <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" ng-click="setSearchField(0)">文章標題</a>
            <a class="item" ng-click="setSearchField(1)">文章作者</a>
          </div>
        </div>

        <div ng-show="{{$root.isLogin}}" class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search..." ng-model="searchText">
            <i class="search link icon" ng-click="search(searchText)"></i>
          </div>
        </div>

       <!--  <a ng-show="{{$root.isLogin}}" href="/signup" class="item">
          <%= __('Signup') %>
        </a> -->
        <!-- <a ng-hide="{{$root.isLogin}}" href="http://{{$root.host}}/login/" target="_self" class="item">
          <%= __('Login') %>
        </a> -->
        <a ng-hide="{{$root.isLogin}}" href="/login" class="item">
          <%= __('Login') %>
        </a>
        <div ng-mouseenter="get_notifications()" ng-show="{{$root.isLogin}}"   
        class="ui pointing dropdown link item">
            <span ng-bind="$root.user.notifications"></span>
            <div class="menu transition hidden">
                <div class="item" ng-repeat="post in notifications" ng-click="select(post.issue_id)">
                    <%= __('Notification') %> <span ng-bind="post.issue_name" ></span>
                </div>
            </div>
        </div>
        <a ng-show="{{$root.isLogin}}" ng-bind="$root.user.name" href="/usersetting" class="item">
          
        </a>
        <a ng-show="{{$root.isLogin}}" href="/logout" class="item">
         <%= __('Logout') %>
        </a>
        <div class="item">
        <select ng-model="$root.lang">
          <option value="zh-TW" >中文</option>
          <option value="en" >English</option>
        </select>
        </div>
      </div>
    </div>

    <section ui-view></section>
    
    
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <script src="js/semantic.min.js"></script>
    <script src="../js/lib/underscore/underscore-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.min.js"></script>
    <script src="../js/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../js/lib/filepicker/filepicker.min.js"></script>
    <script src="../js/lib/moment.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/services.js"></script>
    <script src="../js/controllers.js"></script>
    <script src="../js/filters.js"></script>
    <script src="../js/directives.js"></script>
    <script src="../js/highcharts-ng/src/highcharts-ng.js"></script>
    <script src="//code.highcharts.com/highcharts.src.js"></script>
    <script src="../js/charts.js"></script>
    <script src="../js/alertify.js-0.3.11/lib/alertify.min.js"></script>

    </body>
</html>
